In [56]:
from IPython.core.display import HTML
HTML("<iframe src=http://pandas.pydata.org width=800 height=350></iframe>")

In [70]:
import numpy as np

In [71]:
import pandas as pd

In [104]:
mb = pd.read_csv('microbiome.csv')
print(mb)

         Taxon  Patient  Tissue  Stool
0   Firmicutes        1     632    305
1   Firmicutes        2     136   4182
2   Firmicutes        3    1174    703
3   Firmicutes        4     408   3946
4   Firmicutes        5     831   8605
..         ...      ...     ...    ...
70       Other       11     203      6
71       Other       12     392      6
72       Other       13      28     25
73       Other       14      12     22
74       Other       15     305     32

[75 rows x 4 columns]

In [106]:
mbm = pd.read_csv('microbiome_missing.csv')
print(mbm)

         Taxon  Patient Tissue   Stool
0   Firmicutes        1    632   305.0
1   Firmicutes        2    136  4182.0
2   Firmicutes        3    NaN   703.0
3   Firmicutes        4    408  3946.0
4   Firmicutes        5    831  8605.0
..         ...      ...    ...     ...
70       Other       11    203     6.0
71       Other       12    392     6.0
72       Other       13     28    25.0
73       Other       14     12    22.0
74       Other       15    305    32.0

[75 rows x 4 columns]

In [113]:
data_chunks = pd.read_csv("microbiome.csv", chunksize=15)

mean_tissue = {chunk.Taxon.iloc[0]:chunk.Tissue.mean() for chunk in data_chunks}
    
mean_tissue

{'Firmicutes': 684.4,
 'Proteobacteria': 2943.0666666666666,
 'Actinobacteria': 449.06666666666666,
 'Bacteroidetes': 599.6666666666666,
 'Other': 198.8}

In [107]:
cdy = pd.read_csv('cdystonia.csv')
print(cdy)

     patient  obs  week  site  id  treat  age sex  twstrs
0          1    1     0     1   1  5000U   65   F      32
1          1    2     2     1   1  5000U   65   F      30
2          1    3     4     1   1  5000U   65   F      24
3          1    4     8     1   1  5000U   65   F      37
4          1    5    12     1   1  5000U   65   F      39
..       ...  ...   ...   ...  ..    ...  ...  ..     ...
626      109    1     0     9  11  5000U   57   M      53
627      109    2     2     9  11  5000U   57   M      38
628      109    4     8     9  11  5000U   57   M      33
629      109    5    12     9  11  5000U   57   M      36
630      109    6    16     9  11  5000U   57   M      51

[631 rows x 9 columns]

In [112]:
base = pd.read_csv('baseball.csv')
print(base)

       id     player  year  stint team  lg    g   ab   r    h  ...   rbi   sb  \
0   88641  womacto01  2006      2  CHN  NL   19   50   6   14  ...   2.0  1.0
1   88643  schilcu01  2006      1  BOS  AL   31    2   0    1  ...   0.0  0.0
2   88645  myersmi01  2006      1  NYA  AL   62    0   0    0  ...   0.0  0.0
3   88649  helliri01  2006      1  MIL  NL   20    3   0    0  ...   0.0  0.0
4   88650  johnsra05  2006      1  NYA  AL   33    6   0    1  ...   0.0  0.0
..    ...        ...   ...    ...  ...  ..  ...  ...  ..  ...  ...   ...  ...
95  89525  benitar01  2007      2  FLO  NL   34    0   0    0  ...   0.0  0.0
96  89526  benitar01  2007      1  SFN  NL   19    0   0    0  ...   0.0  0.0
97  89530  ausmubr01  2007      1  HOU  NL  117  349  38   82  ...  25.0  6.0
98  89533   aloumo01  2007      1  NYN  NL   87  328  51  112  ...  49.0  3.0
99  89534  alomasa02  2007      1  NYN  NL    8   22   1    3  ...   0.0  0.0

     cs  bb    so  ibb  hbp   sh   sf  gidp
0   1.0   4   4.0  0.0  0.0  3.0  0.0   0.0
1   0.0   0   1.0  0.0  0.0  0.0  0.0   0.0
2   0.0   0   0.0  0.0  0.0  0.0  0.0   0.0
3   0.0   0   2.0  0.0  0.0  0.0  0.0   0.0
4   0.0   0   4.0  0.0  0.0  0.0  0.0   0.0
..  ...  ..   ...  ...  ...  ...  ...   ...
95  0.0   0   0.0  0.0  0.0  0.0  0.0   0.0
96  0.0   0   0.0  0.0  0.0  0.0  0.0   0.0
97  1.0  37  74.0  3.0  6.0  4.0  1.0  11.0
98  0.0  27  30.0  5.0  2.0  0.0  3.0  13.0
99  0.0   0   3.0  0.0  0.0  0.0  0.0   0.0

[100 rows x 23 columns]

In [109]:
os.getcwd()

'C:\\Users\\Home'

In [110]:
MID1 = pd.read_excel('MID1.xls')
print(MID1)

    Archaea "Crenarchaeota" Thermoprotei Desulfurococcales Desulfurococcaceae Ignisphaera  \
0    Archaea "Crenarchaeota" Thermoprotei Desulfuro...
1    Archaea "Crenarchaeota" Thermoprotei Sulfoloba...
2    Archaea "Crenarchaeota" Thermoprotei Thermopro...
3    Archaea "Euryarchaeota" "Methanomicrobia" Meth...
4    Archaea "Euryarchaeota" "Methanomicrobia" Meth...
..                                                 ...
266  Bacteria "Thermotogae" Thermotogae Thermotogal...
267  Bacteria "Verrucomicrobia" Opitutae Opitutales...
268  Bacteria Cyanobacteria Cyanobacteria  Chloropl...
269  Bacteria Cyanobacteria Cyanobacteria  Chloropl...
270  Bacteria Cyanobacteria Cyanobacteria  Chloropl...

        7
0       2
1       3
2       3
3       7
4       1
..    ...
266     9
267     1
268     2
269    85
270  1388

[271 rows x 2 columns]

In [111]:
MID2 = pd.read_excel('MID2.xls')
print(MID2)

    Archaea "Crenarchaeota" Thermoprotei Acidilobales Acidilobaceae Acidilobus  \
0    Archaea "Crenarchaeota" Thermoprotei Acidiloba...
1    Archaea "Crenarchaeota" Thermoprotei Desulfuro...
2    Archaea "Crenarchaeota" Thermoprotei Desulfuro...
3    Archaea "Crenarchaeota" Thermoprotei Desulfuro...
4    Archaea "Crenarchaeota" Thermoprotei Desulfuro...
..                                                 ...
282  Bacteria "Thermotogae" Thermotogae Thermotogal...
283  Bacteria "Thermotogae" Thermotogae Thermotogal...
284  Bacteria Cyanobacteria Cyanobacteria  Chloropl...
285  Bacteria Cyanobacteria Cyanobacteria  Chloropl...
286          Bacteria TM7    TM7_genera_incertae_sedis

      2
0    14
1    23
2     1
3     2
4     1
..   ..
282  15
283  22
284   1
285   2
286   2

[287 rows x 2 columns]

In [98]:
import pandas as pd 
import os 
os.getcwd()
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.vscode',
 '3D Objects',
 'anaconda3',
 'AppData',
 'Application Data',
 'baseball.csv',
 'cdystonia.csv',
 'Contacts',
 'Cookies',
 'data',
 'data_lab22.ipynb',
 'Documents',
 'Downloads',
 'Favorites',
 'Intel',
 'IntelGraphicsProfiles',
 'Introduction to Python.ipynb',
 'lab2_CE888.ipynb',
 'Links',
 'Local Settings',
 'microbiome',
 'microbiome.csv',
 'microbiome_missing.csv',
 'MicrosoftEdgeBackups',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{a44620e6-c166-11ea-888f-9cfeb13ad565}.TM.blf',
 'NTUSER.DAT{a44620e6-c166-11ea-888f-9cfeb13ad565}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{a44620e6-c166-11ea-888f-9cfeb13ad565}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Python Introduction .ipynb',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Videos']

In [114]:
type(mbm)

pandas.core.frame.DataFrame